a {
	cursor: pointer;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(75, 75, 72, 0.822);
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}
.active {
	background-color: #5402c0;
}
li a:hover,
.dropdown:hover .dropbtn {
	background-color: rgb(190, 179, 17);
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #292929;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(140, 1, 255, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: rgb(255, 255, 255);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #6f00ff;
}

.dropdown:hover .dropdown-content {
	display: block;
}
